
a,button {
	color: #fff;
	background-color: #e90f0f;
	text-decoration: none;
	border: solid #e90f0f 2px;
	border-radius: 5px;
	text-align: center;
	font-size: 1rem;
}

a:hover{
	opacity: 0.5;
}


.headerComponent {
	position: relative;
	height: 700px;
	min-width: 99%;
	/* max-width: 1600px; */
	background: url("./assets/netflix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.nav_link {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

.nav_link a {
	margin: 0.6rem 2.3rem;
	padding: 0.2rem 0.8rem;
}
.nav_link img {
	width: 10rem;
	margin: 0.6rem 2.3rem;
}

.showcase{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 17rem;
}

.showcase > h1,
.showcase > h3,
.showcase > p {
  margin-bottom: 1rem;
  text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.showcase > p {
	font-size: 1.1rem;
}

.showcase div {
	width: 100%;
	display: flex;
	justify-content: center;
}

.showcase input[type='text']{
	width: 25%;
	color: #000;
	outline: none;
	padding: 1rem 0;
}
.btn {
	width: 10%;
	outline: none;
	border: none;
	cursor: pointer;
	border-right: solid #e90f0f 2px;
	 border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	  font-size: 1.3rem;
}

.btn:hover{
	opacity: 0.5;
}

.btn > i {
  margin-left: 1rem;
} 

@media(max-width: 992px){
	 #input{
		 display: flex;
	 }
}



